WBA_Phase1/src/Aufgabe3d_xmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<a:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:a="http://www.w3.org/2001/XMLSchema">
	<a:element name="rezepte">	
		<a:complexType>
			<a:sequence>
				<a:element name="rezept" maxOccurs="unbounded">
					<a:complexType>
						<a:sequence>
							<a:element name="rezeptname" type="a:string"></a:element>
							<a:element name="bilder">
								<a:complexType>
									<a:sequence>
										<a:element name="bild" minOccurs="0" maxOccurs="unbounded">
											<a:complexType>
												<a:sequence>
													<a:element name="bild_id" type="a:integer"/>
													<a:element name="user" type="a:string"/>
													<a:element name="link" type="a:anyURI"/>
												</a:sequence>
											</a:complexType>
										</a:element>
									</a:sequence>
								</a:complexType>
							</a:element>
							<a:element name="zubereitung">
								<a:complexType>
									<a:sequence>
										<a:element name="schwierigkeit">
											<a:simpleType>
												<a:restriction base="a:string">
													<a:enumeration value="einfach"/>
													<a:enumeration value="normal"/>
													<a:enumeration value="schwer"/>
												</a:restriction>
											</a:simpleType>
										</a:element>
										<a:element name="zeit" type="a:string"/>
										<a:element name="brennwert" type="a:integer"/>
										<a:element name="anleitung" type="a:string"/>
									</a:sequence>
								</a:complexType>
							</a:element>
							<a:element name="zutaten">
								<a:complexType>
									<a:sequence>
										<a:element name="zutat" maxOccurs="unbounded">
											<a:complexType>
												<a:sequence>
													<a:element name="einheit" type="a:string"/>
													<a:element name="menge" type="a:integer"/>
													<a:element name="name" type="a:string"/>
												</a:sequence>
											</a:complexType>
										</a:element>
									</a:sequence>
								</a:complexType>
							</a:element>
							<a:element name="comments">
								<a:complexType>
									<a:sequence>
										<a:element name="comment" maxOccurs="unbounded">
											<a:complexType>
												<a:sequence>
													<a:element name="user" type="a:string"/>
													<a:element name="user_pic" type="a:anyURI" minOccurs="0"/>
													<a:element name="datum" type="a:dateTime" minOccurs="0"/>
													<a:element name="kommentar" type="a:string"/>
												</a:sequence>
											</a:complexType>
										</a:element>
									</a:sequence>
								</a:complexType>
							</a:element>
						</a:sequence>
					</a:complexType>
				</a:element>
			</a:sequence>
		</a:complexType>
	</a:element>
</a:schema>