WBA_Phase1/src/Aufgabe3d_xmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<a:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:a="http://www.w3.org/2001/XMLSchema">
	<a:element name="rezept" type="a:string" maxOccurs="unbounded">
	<!-- ID? -->
		<a:complexType>
			<a:sequence>
				<a:element name="kuchenname" type="a:string">
					<a:element name="bilder" type="a:string">
						<a:complexType>
							<a:sequence>
								<a:element name="bild" type="a:string">
									<a:complexType>
										<a:sequence>
											<a:element name="bild_id" type="a:integer"/>
											<a:element name="user" type="a:QName"/>
											<a:element name="link" type="a:anyURI"/>
										</a:sequence>
									</a:complexType>
								</a:element>
							</a:sequence>
						</a:complexType>
					</a:element>
				</a:element>
				<a:element name="zubereitung" type="a:string">
					<a:complexType>
						<a:sequence>
							<a:element name="zeit" type="a:string"/>
							<a:element name="schwierigkeit" type="a:string"/>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="einfach"/>
										<xs:enumeration value="normal"/>
										<xs:enumeration value="schwer"/>
									</xs:restriction>
								</xs:simpleType>
							<a:element name="brennwert" type="a:integer"/>
							<a:element name="anleitung" type="a:string"/>
						</a:sequence>
					</a:complexType>
				</a:element>
				<a:element name="zutaten" type="a:string">
					<a:simpleType>
						<a:sequence>
							<a:element name="zutat" type="a:string">
								<a:complexType>
									<a:sequence>
										<a:element name="einheit" type="a:string"/>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="stück"/>
													<xs:enumeration value="gramm"/>
													<xs:enumeration value="g"/>
													<xs:enumeration value="pfund"/>
													<xs:enumeration value="TL"/>
													<xs:enumeration value="Pkt."/>
												</xs:restriction>
											</xs:simpleType>
										<a:element name="menge" type="a:integer"/>
										<a:element name="name" type="a:string"/> 
										<!-- ist der name ein element? -->
									</a:sequence>
								</a:complexType>
							</a:element>
						</a:sequence>
					</a:simpleType>
				</a:element>
				<a:element name="comments" type="a:string">
					<a:complexType>
						<a:sequence>
							<a:element name="comment" type="a:string" maxOccurs="unbounded">
							<!-- ID? -->
								<a:complexType>
									<a:sequence>
										<a:element name="user" type="a:QName"/>
										<a:element name="user_pic" type="a:anyURI"/>
										<a:element name="datum" type="a:dateTime"/>
										<a:element name="kommentar" type="a:string"/>
									</a:sequence>
								</a:complexType>
							</a:element>
						</a:sequence>
					</a:complexType>
				</a:element>
			</a:sequence>
		</a:complexType>
	</a:element>
</a:schema>